@font-face {
	font-family: "Exo2.0-Thin";
	src: url("./fonts/Exo2.0-Thin.otf") format("opentype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "TrebuchetMs";
	src: url("./fonts/TrebushetMS.ttf") format("opentype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "TrebuchetMs";
	src: url("./fonts/TrebuchetMS-Bold.ttf") format("opentype");
	font-style: normal;
	font-weight: bold;
}
body {
	margin: 0;
	font-family: "Exo2.0-Thin", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: url("./images/Pattern.png");
	background-repeat: repeat;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

/* code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
} */
.container {
	font-size: 50px;
	color: white;
	margin: 0 auto;
	display: flex;
	justify-content: space-evenly;
	max-width: 1280px;
	max-height: 680px;
}
.title {
	text-shadow: 0px 1px 0 #000000;
	font-size: 36px;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
	margin-top: 0;
}
