@font-face {
	font-family: "Exo2.0-Thin";
	src: url("./fonts/Exo2.0-Thin/Exo2.0-Thin.eot");
	src: url("./fonts/Exo2.0-Thin/Exo2.0-Thin.otf") format("opentype"),
		url("./fonts/Exo2.0-Thin/Exo2.0-Thin.ttf") format("truetype"),
		url("./fonts/Exo2.0-Thin/Exo2.0-Thin.woff") format("woff"),
		url("./fonts/Exo2.0-Thin/Exo2.0-Thin.svg") format("svg");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "TrebuchetMs";
	src: url("./fonts/TrebuchetMS/TrebushetMS.eot");
	src: url("./fonts/TrebuchetMS/TrebushetMS.ttf") format("opentype"),
		url("./fonts/TrebuchetMS/TrebushetMS.woff") format("woff"),
		url("./fonts/TrebuchetMS/TrebuchetMS.svg") format("svg");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "TrebuchetMs";
	src: url("./fonts/TrebuchetMS-Bold/TrebuchetMS-Bold.eot");
	src: url("./fonts/TrebuchetMS-Bold.ttf") format("opentype"),
		url("./fonts/TrebuchetMS-Bold/TrebuchetMS-Bold.woff") format("woff"),
		url("./fonts/TrebuchetMS-Bold/TrebuchetMS-Bold.svg") format("svg");
	font-style: normal;
	font-weight: bold;
}
body {
	margin: 0;
	font-family: "Exo2.0-Thin", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: url("./images/Pattern.png");
	background-repeat: repeat;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}
#root {
	min-height: 100vh;
	background-image: linear-gradient(
		to top,
		#000000,
		rgba(0, 0, 0, 0.01),
		#000000
	);
	display: flex;
}
.wrap-container {
	position: relative;
	max-width: 1280px;
	max-height: 680px;
	margin: auto;
	box-sizing: content-box;
	display: flex;
	flex-direction: column;
}
.container {
	font-size: 50px;
	color: white;
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 66px;
	width: fit-content;
}
.container .container:last-child {
	margin-bottom: 0;
}
.title {
	text-shadow: 0px 1px 0 #000000;
	font-size: 36px;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
	margin: 38px 0 23px 0;
}
.card-wrap:first-child {
	margin-left: 80px;
	margin-right: 0px;
}
.card-wrap:last-child {
	margin-right: 80px;
	margin-left: 80px;
}
@media (max-width: 1280px) {
	.card-wrap:first-child {
		margin-left: calc((100vw - 960px) / 4);
		margin-right: 0px;
	}
	.card-wrap:last-child {
		margin-right: calc((100vw - 960px) / 4);
		margin-left: calc((100vw - 960px) / 4);
	}
}
@media (max-width: 992px) {
	.wrap-container {
		max-height: unset;
	}
	.container:last-child {
		flex-direction: column;
	}
	.container .container:last-child {
		flex-direction: row;
		justify-content: space-between;
		width: calc(100vw - 40px);
	}
	.card-wrap:first-child {
		margin: 0px auto 60px;
	}
	.container .container .card-wrap:first-child {
		margin: 0;
	}
	.card-wrap:last-child {
		margin: 0;
	}
}
@media (max-width: 700px) {
	.container .container:last-child {
		flex-direction: column;
		width: fit-content;
	}
	.container {
		margin: 0 auto;
	}
	.card-wrap:first-child {
		margin-bottom: 40px;
	}
	.container .container .card-wrap:first-child {
		margin-bottom: 40px;
	}
	.card-wrap:last-child {
		margin-bottom: 80px;
	}
}
